# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit temp files
.streamlit/

# Docker
*.dockerignore
docker-compose.override.yml
